

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.no-suggestions {
  position: absolute;
  margin-top: 62px; 
}

.input {
  display: block;
  /*removing underlines from anchor element*/
  text-decoration: none;
  text-decoration: none;
  color: black;
  background-color: #d2dedd;
  cursor: pointer;
}
.suggestions {
  list-style: none;
  position: absolute;
  margin-top: 185px;
  width: 240px;
  height: 300px;
  overflow: scroll;
  z-index: 20;
}

/*now first we will hide the suggestion list*/
.suggestions input {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.byline {
  text-align: center;
  font-size: 18px;
}
.byline a {
  text-decoration: none;
  color: #1f5350;
}

.auto {
  margin: auto;
}

button {
  margin-top: 30px;
}